 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    background-image: linear-gradient(rgba(115, 241, 248, 0.986), rgba(71, 68, 68, 0.836));
    color: white;
    overflow-x: hidden;
 }

 header {
    text-align: center;
    font-size: 3.5vw;
    padding: 1.5rem;
 }

 header span {
    font-family: sans-serif;
    background-color: rgb(35, 35, 40);
    padding: 7px;
    border-radius: 5px;
 }

 footer {
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    padding: 2.5rem;
 }

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 0 15px;
}

li {
    height: 24vh;
    flex-grow: 1;
    overflow: hidden;
}

li:hover {
    z-index: 1;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 3px;
    filter: grayscale(100%) brightness(75%);
    transition: all 200ms;
}

img:hover {
    filter: grayscale(0%) brightness(100%);
    transform: scale(1.2);
    /*box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.486);*/
}
